sphinx>=2.0
sphinx_rtd_theme
sphinx-autodoc-typehints
numpy
scipy
pandas
plams@git+https://github.com/SCM-NV/PLAMS@release
qmflows@git+https://github.com/SCM-NV/qmflows@master
CAT@git+https://github.com/nlesc-nano/CAT@master